body {
    margin: 0px;
    padding: 0px;
    text-align:center;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}

h1 {
    font-family:Arial;
    font-size: 3em;
    color:#6495ED;
}

#canvas {
    border: 3px solid #6495ED;
    border-radius:100px;
    margin:0 auto 15px auto;
    display:block;
    background:#fff;
    cursor: crosshair;
}

.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
}

.button {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .4em 1em .50em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}